.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.navbar .nav-item.active{
    border-left: 3px solid #444;
}
.carousel-item{
    height: 450px;
}
.carousel-image-1{
    background: url(../images/image1.jpg);
    background-size: cover;
}
.carousel-image-2{
    background: url(../images/image2.jpg);
    background-size: cover;
}
.carousel-image-3{
    background: url(../images/image3.jpg);
    background-size: cover;
}

#home-heading{
    position: relative;
    min-height: 260px;
    background: url(..//images/lights.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}